body {
    background-color: #ebebeb
}

/* Card Classes */

.task-Active {
    border-color: #019e18;
    border-width: 5px;
}

.task-Completed {
    border-color: #5f5f5f;
    border-width: 5px;
}

/* Accordion Classes */

.task-accordion-head-Active {
    border: 1px solid #019e18;
}

.task-accordion-Active {
    background-color: #cff6d5;
}

.task-accordion-head-Completed {
    border: 1px solid #5f5f5f;
}

.task-accordion-Completed {
    background-color: #e6e6e6;
}