{% extends "base.html" %}
{% block content %}
  

<div class="row mx-0 g-0">
    <div class="col text-center my-4 g-0">
        <h3>Add New Project</h3>
    </div>
</div>

<div class="row mx-0 g-0">
    <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto my-4 px-3 py-3 card">
        <form method="POST" action="{{ url_for('add_project') }}">
            <div class="mb-3">
                <label for="project_name" class="form-label">Project Name</label>
                <input type="text" class="form-control" placeholder="Enter Project Name Here" id="project_name" name="project_name" minlength="5" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="project_status" class="form-label">Project Status</label>
                <select class="form-select" aria-label="Select Team" id="project_status" name="project_status" required>
                    <option value="" disabled selected>Project Status</option>
                    <option value="Active">Active</option>
                    <option value="Completed">Completed</option>
                </select>                
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Select Team" id="team_id" name="team_id" required>
                    <option value="" disabled selected>Choose Team</option>
                    {% for team in teams %}
                        <option value="{{ team.team_id }}">Team ID: {{ team.team_id }}, Team Lead: {{ team.team_lead }}</option>
                    {% endfor %}
                </select>                
            </div>
            <button type="submit" class="btn btn-success">Add Project</button>
            <a href={{ url_for('projects') }} class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
    
{% endblock %}