{% extends "base.html" %}
{% block content %}
    
<div class="row">
    <div class="col text-center mx-auto my-3">
        <h3>Dashboard</h3>
    </div>
</div>

{% for item in task_list | sort (attribute="project_id") %}
    {% if item.assigned_user == user_id %}
    <div class="row">
        <div class="col-11 col-md-10 col-lg-8 mx-auto my-3 px-3 py-3 card task">
            <h3>{{ item.task_name }}</h3>
            <p>Project Id: {{ item.project_id }}</p>
            <p>Task Description:</p>
            <p>{{ item.task_description }}</p>
            <p>Task Status: {{ item.task_status }}</p>
            <p>Assigned User: {{ item.assigned_user }}</p>

            <span>
                <a class="btn btn-primary" href={{ url_for('update_task', task_id = item.task_id) }}>Update Task</a>
                <a class="btn btn-danger" href={{ url_for('delete_task', task_id = item.task_id) }}>Delete Task</a>
            </span>

            
        </div>
    </div>

    
    {% endif %}
{% endfor %}    
    
{% endblock %}