{% for project in project_list %}
    {% if project.team_id == team_id %}
        <div class='project'>
            <h4>{{ project.project_name }}</h4>
            <p>Project Status: {{ project.project_status }}</p>
        </div>

        <a href="{{ url_for('update_project', project_id = project.project_id) }}" class="btn btn-primary">Update</a>
        <a href="{{ url_for('delete_project', project_id = project.project_id) }}" class="btn btn-danger">Delete</a>
        <br>
        <br>

        {% with user_id = user_id %}
        {% include "task_by_user.html" %}
        {% endwith %}

    {% endif %}
{% endfor %}