<div class="accordion" id="ProjectByTeamAccordion">

    {% for task in task_list %}
        {% if task.assigned_user == user_id %}

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ task.task_id }}taskbyuseraccordion" aria-expanded="true" aria-controls="{{ task.task_id }}taskbyuseraccordion">
                        {{ task.task_name }}
                    </button>
                </h2>
                <div id="{{ task.task_id }}taskbyuseraccordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Task Description:</p>
                        <p>{{ task.task_description }}</p>
                        <p>Task Status: {{ task.task_status }}</p>
                        <p>Project: {% for project in project_list %}
                                {% if project.id == task.assigned_user %}
                                    {{ project.project_name }}
                                {% endif %}
                            {% endfor %}
                        </p>
                        <a href="{{ url_for('update_user', user_id = user.id) }}">Update</a>
                        <a href="{{ url_for('delete_user', user_id = user.id) }}">Delete</a>
                    </div>
                </div>
                
            </div>
        {% endif %}
        
    {% endfor %}
</div>