{% extends "base.html" %}
{% block content %}

<div class="row mx-0 g-0">
    <div class="col text-center my-4 g-0">
        <h3>Update Project</h3>
    </div>
</div>

<div class="row mx-0 g-0">
    <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto my-4 px-3 py-3 card">

        <form method="POST" action="{{ url_for('update_project', project_id = project_id ) }}">

            <!-- returns last page visited -->
            <input type="hidden" name="next" value="{{ request.referrer }}" /> 

            <!-- Form -->

            <div class="mb-3">
                <label for="project_name" class="form-label">Project Name</label>
                <input type="text" class="form-control" value="{{ current_project_name }}" id="project_name" name="project_name" minlength="5" maxlength="50" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a name without spaces at the beginning or end" required>
            </div>

            <div class="mb-3">
                <label for="project_status" class="form-label">Project Status</label>
                <select class="form-select" aria-label="Select Team" id="project_status" name="project_status" required>
                    <!-- pulls existing values from database -->
                    <option value={{ current_project_status }} selected> {{ current_project_status }} </option>

                    <!-- populates remaining options -->
                    {% for value in status %}
                        {% if value == current_project_status %}

                        {% else %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Select Team" id="team_id" name="team_id" required>
                    <!-- pulls existing values from database -->
                    <option value={{ current_team_id }} selected>
                        {% for team in teams %}
                            {% if team.team_id == current_team_id %}
                                Team ID: {{ team.team_id }}, Team Lead: {{ team.team_lead }}
                            {% endif %}
                        {% endfor %}
                    </option>

                    <!-- populates remaining options -->
                    {% for team in teams %}
                        {% if team.team_id == current_team_id %}

                        {% else %}
                            <option value="{{ team.team_id }}">Team ID: {{ team.team_id }}, Team Lead: {{ team.team_lead }}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Update Project</button>
            <a href={{ previous_url }} class="btn btn-danger">Cancel</a>

        </form>
        
    </div>
</div>
    
{% endblock %}