{% extends "base.html" %}
{% block content %}
    
<div class="row mx-0 g-0">
    <div class="col text-center my-4 g-0">
        <h3>Update User Info</h3>
    </div>
</div>

<div class="row mx-0 g-0">
    <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto my-4 px-3 py-3 card">
        <form method="POST" action="{{ url_for('update_current_user', user_id = user_id ) }}">
            <input type="hidden" name="next" value="{{ request.referrer }}" />
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input id="first_name" name="first_name" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_fname }}" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a name without spaces at the beginning or end" required>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input id="last_name" name="last_name" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_lname }}" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a name without spaces at the beginning or end" required>
            </div>
            <div class="mb-3">
                <label for="team_role">Team Role</label>
                <input id="team_role" name="team_role" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_role }}" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a job role without spaces at the beginning or end" required>
            </div>
            <div class="mb-3">
                <label for="team_id">Team</label>
                <select class="form-select" aria-label="Select Team" id="team_id" name="team_id" required>
                    <!-- pulls existing values from database -->
                    <option value={{ current_team_id }} selected>
                        {% for team in teams %}
                            {% if team.team_id == current_team_id %}
                                Team ID: {{ team.team_id }}, Team Lead: {{ team.team_lead }}
                            {% endif %}
                        {% endfor %}
                    </option>

                    <!-- populates remaining options -->
                    {% for team in teams %}
                        {% if team.team_id == current_team_id %}

                        {% else %}
                            <option value="{{ team.team_id }}">Team ID: {{ team.team_id }}, Team Lead: {{ team.team_lead }}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input id="email" name="email" minlength="5" maxlength="50" type="email" class="form-control" value="{{ current_email }}" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a valid email address" required>
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input id="password" name="password" minlength="5" maxlength="50" type="password" class="form-control" value="" pattern="^[^\s]+(\s+[^\s]+)*$" title="Please enter a valid password, with no spaces at the beginning or end." required>
            </div>

            <button type="submit" class="btn btn-primary">Update User Info</button>
            <a href={{ previous_url }} class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
    
{% endblock %}