{% extends "base.html" %}
{% block content %}
    
<div class="row mx-0 g-0">
    <div class="col text-center my-4 g-0">
        <h3>Update User Info</h3>
    </div>
</div>

<div class="row mx-0 g-0">
    <div class="col col-sm-10 col-md-8 col-lg-6 mx-auto my-4 px-3 py-3 card">
        <form method="POST" action="{{ url_for('update_user', user_id = user_id ) }}">
            <input type="hidden" name="next" value="{{ request.referrer }}" />
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input id="first_name" name="first_name" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_fname }}" required>
            </div>
            <div class="mb-3">
                <label for="first_name" class="form-label">Last Name</label>
                <input id="first_name" name="last_name" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_lname }}" required>
            </div>
            <div class="mb-3">
                <label for="team_role">Team Role</label>
                <input id="team_role" name="team_role" minlength="5" maxlength="50" type="text" class="form-control" value="{{ current_role }}" required>
            </div>
            <div class="mb-3">
                <select id="team_id" name="team_id" class="form-select" required>
                    <option value="" disabled selected>Choose Team</option>
                    {% for team in teams %}
                        <option value="{{ team.team_id }}">Team Id: {{ team.team_id }} - Team Lead: {{ team.team_lead }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update User Info</button>
            <a href={{ previous_url }} class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
    
{% endblock %}